<div class="topo__servico">
  <div class="container">
    <span
      >CEEP Curitiba &middot; Rua Frederico Maurer, 3015 &middot; (41)
      3276-9534</span
    >
    <span class="topo__servico-links">
      <a href="/area-do-aluno.html">Área do Aluno</a>
      <a href="/admin/">Área Administrativa</a>
    </span>
  </div>
</div>

<div class="topo__principal">
  <div class="container">
    <a class="marca" href="/">
      <span class="marca__selo" aria-hidden="true">CEEP</span>
      <span>
        <span class="marca__nome">CEEP Curitiba</span><br />
        <span class="marca__descricao"
          >Centro Estadual de Educação Profissional</span
        >
      </span>
    </a>

    <button
      class="menu-botao"
      id="menu-botao"
      aria-expanded="false"
      aria-controls="navegacao"
    >
      Menu
    </button>

    <nav class="navegacao" id="navegacao" aria-label="Navegação principal">
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/cursos.html">Cursos</a></li>
        <li><a href="/comparador.html">Comparar</a></li>
        <li><a href="/instituicao.html">Instituição</a></li>
        <li><a href="/como-ingressar.html">Como ingressar</a></li>
        <li><a href="/noticias.html">Notícias</a></li>
        <li><a href="/secretaria.html">Secretaria</a></li>
        <li><a href="/contato.html">Contato</a></li>
      </ul>
    </nav>
  </div>
</div>
